<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <iframe src="file:///home/dy/T%C3%A9l%C3%A9chargements/Linux%20Le%20Guide%20Complet.pdf" frameborder="0"></iframe>
    <a href="file:///home/dy/T%C3%A9l%C3%A9chargements/Linux%20Le%20Guide%20Complet.pdf" target="blank">telecherger le docua</a>
    <object type="application/pdf" data="file:///home/dy/T%C3%A9l%C3%A9chargements/Linux%20Le%20Guide%20Complet.pdf
    " width="250" height="200"></object>
</body>

</html>